Fotos Inmobiliaria.json
{
  "name": "Fotos Inmobiliaria",
  "nodes": [
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "ID"
            },
            {
              "name": "ConversationID"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -1280,
        272
      ],
      "id": "cfa98279-b2ec-478d-99ec-3c209df8d0f3",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "resource": "fileFolder",
        "queryString": "={{ $json.ID }}",
        "returnAll": true,
        "filter": {
          "driveId": {
            "__rl": true,
            "value": "My Drive",
            "mode": "list",
            "cachedResultName": "My Drive",
            "cachedResultUrl": "https://drive.google.com/drive/my-drive"
          },
          "folderId": {
            "__rl": true,
            "value": "1kkBaaFo-fs5obJArd7UjbY0Z9HBlhMMr",
            "mode": "list",
            "cachedResultName": "Velea Inmobiliaria",
            "cachedResultUrl": "https://drive.google.com/drive/folders/1kkBaaFo-fs5obJArd7UjbY0Z9HBlhMMr"
          }
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -896,
        272
      ],
      "id": "14301d89-1522-46e7-a318-e999dec2248e",
      "name": "Search files and folders",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "7NEW7iMhblRMrckw",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "resource": "fileFolder",
        "searchMethod": "query",
        "queryString": "='{{ $json.id }}' in parents",
        "returnAll": true,
        "filter": {
          "driveId": {
            "__rl": true,
            "value": "My Drive",
            "mode": "list",
            "cachedResultName": "My Drive",
            "cachedResultUrl": "https://drive.google.com/drive/my-drive"
          }
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -672,
        272
      ],
      "id": "e36df7d4-5ae2-4beb-9615-c51547bd04b4",
      "name": "Search files and folders1",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "7NEW7iMhblRMrckw",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -144,
        288
      ],
      "id": "441516fa-5a1d-4cec-9fdc-598d0bed3e24",
      "name": "Download file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "7NEW7iMhblRMrckw",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://TUAPI/api/v1/accounts/1/conversations/{{ $node[\"When Executed by Another Workflow\"].json[\"ConversationID\"] }}/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "api_access_token",
              "value": "C8A00C3AF32A-46A9-9FCA-EF115C79F012"
            }
          ]
        },
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "name": "message_type",
              "value": "outgoing"
            },
            {
              "name": "content"
            },
            {
              "parameterType": "formBinaryData",
              "name": "attachments[]",
              "inputDataFieldName": "=data"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        384,
        352
      ],
      "id": "2e7e0d2e-58bc-48ad-b10e-4e97f19db55d",
      "name": "HTTP Request",
      "executeOnce": false
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "003fb4ab-dff9-4e6f-8700-1f64cf0ca63c",
              "name": "Mensaje",
              "value": "se enviaron las fotos con éxito ",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        208,
        0
      ],
      "id": "96a55334-c2d7-40f6-b174-a4b9134f931f",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -432,
        272
      ],
      "id": "a0475208-e5c7-4a70-adf5-296b5dec4968",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "resource": "messages-api",
        "operation": "send-image",
        "options_message": {}
      },
      "type": "n8n-nodes-evolution-api.evolutionApi",
      "typeVersion": 1,
      "position": [
        64,
        288
      ],
      "id": "8af6ec77-bf51-4bce-bc2d-bc957e383a63",
      "name": "Enviar imagem",
      "credentials": {
        "evolutionApi": {
          "id": "xV0tfjA7HWrCSaV5",
          "name": "Evolution account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "63f1076e-0385-4bd9-9989-fce1eb13f8cb",
              "name": "ID",
              "value": "=BCN-0001",
              "type": "string"
            },
            {
              "id": "b2410af4-9583-48f8-8b1b-6a8c92164083",
              "name": "ConversationID",
              "value": "=",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1072,
        272
      ],
      "id": "7e67c990-2f2d-4605-944c-311b9ec946b5",
      "name": "Edit Fields1"
    }
  ],
  "pinData": {},
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search files and folders": {
      "main": [
        [
          {
            "node": "Search files and folders1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search files and folders1": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file": {
      "main": [
        [
          {
            "node": "Enviar imagem",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        []
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enviar imagem": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "Search files and folders",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "eada2643-2bca-42d3-8f26-7b731fd0baa3",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "3ac3fc1010dac52c255e6a54ebb848e875909278a43fcaf148fb2672be676cb1"
  },
  "id": "O2JLPk0rDZBdXWJD",
  "tags": []
}